@font-face {
  font-family: "gilroy";
  src: url("../fonts/gilroy-bold.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  src: url("../fonts/gilroy-extrabold.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  src: url("../fonts/gilroy-light.otf") format("otf");
  font-weight: lighter;
  font-style: normal;
}
