body {
  overflow: hidden;
  position: relative;
  background-color: #edf1f2;
}

.position-relative {
  position: relative;
}

@media (min-width: 1500px) {
  .container {
    max-width: 1380px;
  }
}
