/* stylelint-disable */
// Menu Burger
.menu-icon {
	position: absolute;
	width: 50px;
	height: 50px;
	cursor: pointer;

	div {
		margin: auto;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		width: 28px;
		height: 12px;
  }
  
	span {
		position: absolute;
		display: block;
		width: 100%;
		height: 2px;
		background-color: $black;
		border-radius: 1px;
		transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);

		&:first-of-type {
			top: 0;
		}
		&:last-of-type {
			bottom: 0;
		}
  }
  
	&.active,
	.menu-icon__cheeckbox:checked + div {
		span {
      background-color: $white;

			&:first-of-type {
				transform: rotate(45deg);
				top: 5px;
			}
			&:last-of-type {
				transform: rotate(-45deg);
				bottom: 5px;
			}
		}
	}

	&.active:hover span:first-of-type,
	&.active:hover span:last-of-type,
	&:hover .menu-icon__cheeckbox:checked + div span:first-of-type,
	&:hover .menu-icon__cheeckbox:checked + div span:last-of-type {
		width: 28px;
	}

	&:hover {
		// no need hover effect on mobile.
		@media (min-width: 1024px) {
			span:first-of-type {
				width: 28px;
			}

			span:last-of-type {
				width: 20px;
			}
		}
	}
}
