.left-bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 100%;
  border-right: 1px solid $gray-400;
}

.hr-before {
  display: inline-block;
  position: relative;

  &::before {
    content: "";
    height: 35px;
    width: 1px;
    background-color: $gray-400;
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translate(-50%);
  }
}
