.right-bar {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  height: 100%;

  @include media-breakpoint-up(xl) {
    border-left: 1px solid $gray-400;
  }
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  letter-spacing: 3px;
  color: $gray-900;
}

.right-bar__social {
  svg,
  path {
    fill: $black;
  }

  @include media-breakpoint-up(lg) {
    a {
      display: inline-block;
      transition: all 0.3s ease 0s;

      &:hover {
        transform: rotate(15deg) scale(1.5);

        svg,
        path {
          fill: $black;
        }
      }
    }
  }
}
