.home-page {
  .slick-dots {
    display: flex !important;
    position: absolute;
    left: 1.4rem;
    bottom: 0;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 60%;

    @include media-breakpoint-up(xl) {
      text-align: right;
      left: auto;
      right: 105px;
      width: 50% !important;
    }

    button {
      display: flex;
      align-items: center;
      padding: 0 0 15px 0;
      height: auto;
      width: 100%;
      line-height: 1.1;
      border: 0;
      background-color: transparent;
      font-size: 16px;
      color: $gray-600;
      text-align: center;
      outline: none;
      position: relative;

      &::before {
        content: "";
        width: 0;
      }
    }

    li {
      cursor: pointer;
      position: relative;
      display: inline-block;
      text-indent: -9999px;
      white-space: nowrap;
      border: 0;
      width: auto;
      height: auto;
      margin-left: 5px;
      margin-right: 5px;
      background-color: transparent;
      box-shadow: 0 0 0 0 rgba(82, 156, 219, 0);

      &.slick-active {
        button {
          color: $black;

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: $black;
          }
        }
      }
    }
  }

  .slick-slide > div {
    display: flex;
  }

  .tab-about {
    text-align: right;
    letter-spacing: 3px;
  }
}
