/* stylelint-disable */
.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

// variables
:root {
--sidebar-width: 100%;
--toggler-offset-left: 1.4rem;
--toggler-offset-top: 1.5rem;
}

.sidebar,
.content {
  z-index: $z-lvl-1;
  transition: all .25s ease-out;
}

.sidebar {
  width: 100%;
  transform: translateX(calc(var(--sidebar-width) * -1));
  background: linear-gradient(to bottom right, $black, $black);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100vh;
  opacity: 0;
  z-index: -1;
}

.menu {
  list-style-type: none;
}

.menu__link {
  color: white;
  font-weight: 100;
  text-decoration: none;
  font-size: 10vmin;
  line-height: 15vmin;
  transition: all .25s ease-out;

  &:hover,
  &:focus,
  &:active {
    color: $yellow;
  }
}

.menu-toggler {
  border-radius: calc(var(--toggler-line-size) / 2);
  display: block;
  width: 30px;
  height: 30px;
  position: fixed;
  top: 1.5rem;
  left: 1.4rem;
  z-index: $z-lvl-2;
}

.input-toggler {
  position: absolute;
  left: -100%;

  &:checked ~ .sidebar {
    transform: translateX(0);
    opacity: .98;
    z-index: $z-lvl-1;
  }
}

.main-logo {
  position: absolute;
  z-index: $z-lvl-1;
  top: 1.5rem;
  left: 7rem;
}
