.home-page-slide {
  height: 100vh;
  width: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.7);
  overflow: hidden;

  @include media-breakpoint-up(xl) {
    box-shadow: none;
  }
}

// Progress Bar - Start
.progress-slider__wrapper {
  position: relative;
  z-index: $z-lvl-2;
}

.progress-slider {
  width: 180px;
}

.progress {
  height: 1px;
  background-color: $gray-400;
}

.progress-bar {
  background-color: $black;
}
// Progress Bar - End

// Vertical Text - Start
.text-container {
  position: absolute;
  top: 0;
  width: 100%;
}

.text-container__word {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  letter-spacing: 3px;
  color: $gray-400;
  opacity: 0.8;
  font-weight: bold;
}

.text-container__top {
  position: absolute;
  left: 100%;
  top: -40px;
}

.text-container__bottom {
  position: absolute;
  right: 0;
  bottom: -150px;
}

.background-line-wide {
  border-left: 1px solid $gray-400;
  border-right: 1px solid $gray-400;
  opacity: 0.8;
  position: relative;
  z-index: 1000;
}
// Vertical Text - End
